.song-card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .song-card {
        border: 1px solid black;
        margin: 0.5rem 1rem;
        padding: 0.2rem 0.4rem;
        overflow: hidden;
        cursor: pointer;

        display: flex;
        flex-direction: column;
        flex-basis: 15%;

        p {
            margin: .4rem 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}